@import "./mixin";
@import "./var";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.border_none {
  border: none !important;
}

.border_bottom {
  border-bottom: solid #999999 1px;
}

.margin_zero {
  margin: 0 !important;
}

.post_date {
  @include display_flex(row, center, none);
  gap: 10px;

  @include SecondaryParagraph;
  color: $border-color !important;
  p {
    color: #202020;
    margin: 0 !important;
    &:hover {
      color: $primary-dark;
    }
  }
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.breadcrumbs {
  @include display_flex(row, center, none);
  gap: 10px;
  padding: 0 0 10px 0;
  margin-bottom: 50px;

  .breadcrumbs_home {
    @include SecondaryHeader;
  }
  span {
    font-size: 1rem;
    font-weight: 600;
    color: #999999;
  }
  a {
    font-size: 1rem;
    font-weight: 600;
    color: #999999;
    &:hover {
      color: $primary_color;
    }
  }
}

.ads_box {
  width: 100%;
  height: 200px;
  @include display_flex(row, center, center);
  background-color: #dddddd;
  border-radius: 4px;
  margin: 20px 0;
}

.main_content {
  @include display_flex(row, start, space-between);
  gap: 20px;

  .main_content_result {
    width: 70%;
    .main_content_result_content {
      h1 {
        a {
          font-size: 1.8rem;
          font-weight: 700;
          color: $primary_color;
          &:hover {
            color: $primary-dark;
          }
        }
      }
      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #999999;
        margin: 10px 0;
      }
      .main_content_result_content_detail {
        @include display_flex(row, start, start);
        gap: 20px;
        .post_date {
          @include SecondaryParagraph;
          color: $border-color !important;
          p {
            color: #202020;
            &:hover {
              color: $primary-dark;
            }
          }
        }
      }
      a {
        img {
          width: 100%;
          margin: 20px 0;
          display: block;
        }
      }

      .my_20 {
        margin: 20px 0;
      }

      .main_content_result_content_share {
        border-top: solid #999999 1px;
        border-bottom: solid #999999 1px;
        padding: 10px 0;
        margin: 20px 0;
        @include display_flex(row, center, space-between);

        .main_content_result_content_share_no {
          p {
            @include SecondaryHeader;
            span {
              font-size: 1.2rem;
              color: $primary_color;
            }
          }
        }
        .main_content_result_content_share_btns {
          button {
            cursor: pointer;
            i {
              margin-right: 10px;
            }
          }
          .share_btn01 {
            @include button_share(#3b5998);
          }
          .share_btn02 {
            @include button_share(#00acee);
          }
          .share_btn03 {
            @include button_share(#c03632);
          }
        }
      }
    }

    .comments {
      margin: 50px 0;
      h1 {
        @include MainHeader;
        margin-bottom: 20px;
      }

      .trending_list_content {
        @include display_flex(row, start, space-between);
        gap: 20px;
        .trending_list_content_img {
          width: 20%;
          img {
            width: 100%;
            border-radius: 4px;
          }
        }

        .trending_list_content_text {
          width: 80%;
          @include display_flex(column, start, space-between);
          gap: 10px;

          .trending_list_content_text_head {
            width: 100%;
            @include display_flex(row, center, space-between);

            h2 {
              a {
                @include SecondaryHeader;
                &:hover {
                  color: $primary_color;
                }
              }
            }
            a {
              @include SecondaryHeader;
              &:hover {
                color: $primary_color;
              }
            }
          }
        }
      }
    }

    .contact-form {
      max-width: 100%;
      margin-bottom: 50px;
      .contact_form_header {
        h1 {
          @include MainHeader;
        }
        p {
          font-size: 1rem;
          font-weight: 600;
          color: #202020;
        }
      }
      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }

      .col {
        flex: 1;
        margin: 15px 0;
      }

      input[type="text"],
      input[type="email"],
      input[type="url"],
      textarea {
        width: 100%;
        padding: 15px;
        border: 1px solid #ccc;
        font-size: 1rem;
        outline: none;

        &:focus {
          border: 1px solid #007bff;
        }
      }

      &::placeholder {
        color: #888;
      }

      textarea {
        resize: vertical;
      }

      .contact_submit {
        button {
          @include button_share(#000);
          cursor: pointer;
        }
      }
    }
  }
  .main_content_recommend {
    width: 30%;

    .main_content_recommend_list {
      @include display_flex(column, start, space-between);
      border: none !important;
      gap: 20px;
      .main_content_recommend_list_tab {
        width: 100%;
        @include display_flex(row, start, start);
        gap: 10px;
        border-bottom: solid $border-color 2px !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        margin-bottom: 10px;
        padding-bottom: 5px;
        background-color: white !important;
        li {
          border: none !important;
          border-radius: 4px;

          a {
            // color: $primary_color;
            display: inline-block;
            font-size: 1rem;
            font-weight: 700;
            padding: 5px 15px;
            border-radius: 4px;
            &:hover {
              background-color: $primary_color;
              color: white !important;
            }
          }
        }
        // .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        //   a {
        //     color: white !important;
        //   }
        // }
      }

      .main_content_recommend_list_content {
        padding: 20px 0;
        p {
          margin: 0 0 10px 0;
          a {
            @include SecondaryHeader;
            &:hover {
              color: $primary_color;
            }
          }
        }
      }
      .trending_head {
        width: 100%;
        border-bottom: solid $border-color 2px;
        margin-bottom: 10px;
        h2 {
          font-size: 1.4rem;
          font-weight: 700;
          color: $primary_color;
        }
      }
      .trending_list {
        @include display_flex(column, start, space-between);
        gap: 20px;
        .trending_list_content {
          @include display_flex(row, start, space-between);
          gap: 20px;
          .trending_list_content_img {
            width: 40%;

            img {
              width: 100%;
              border-radius: 4px;
            }
          }

          .trending_list_content_text {
            width: 60%;

            p {
              margin: 0 0 10px 0;
              a {
                @include SecondaryHeader;
                &:hover {
                  color: $primary_color;
                }
              }
            }
          }
        }
      }
    }
  }
}

.you_also_like {
  margin-bottom: 20px;
  .you_also_like_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      @include MainHeader;
      margin-bottom: 20px;
    }
    .slider_buttons {
      display: flex;
      gap: 10px;
      button {
        border: none;
        outline: none;
        background-color: $primary_color;
        padding: 10px 20px;
        color: white;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
  .you_also_like_post_list {
    width: 100%;
    // display: grid;
    // grid-template-columns: repeat(3, minmax(0, 1fr));
    // gap: 30px;
    .main_content_result_content {
      @include display_flex(column, start, space-between);
      padding: 20px;
      gap: 20px;
      .main_content_result_content_img {
        img {
          width: 100%;
        }
      }
      .main_content_result_content_text {
        h2 {
          margin-bottom: 10px;
          a {
            font-size: 1.3rem;
            color: #202020;
            font-weight: 600;
            &:hover {
              color: $primary_color;
            }
          }
        }
        p {
          margin-top: 10px;
        }
      }
    }
  }
}

// MEDIA QUERIES FOR RESPONSIVENESS
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 90%;
  }

  .main_content {
    @include display_flex(column, start, space-between);
    .main_content_result {
      width: 100%;
      .main_content_result_content {
        h1 {
          a {
            font-size: 1.5rem;
          }
        }
        h2 {
          font-size: 1.2rem;
        }
      }
    }
    .main_content_recommend {
      width: 100%;
    }
  }
  .you_also_like {
    .you_also_like_post_list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }

  .main_content {
    @include display_flex(column, start, space-between);
    .main_content_result {
      width: 100%;
      .main_content_result_content {
        h1 {
          a {
            font-size: 1.2rem;
          }
        }
        h2 {
          font-size: 1rem;
        }
        .main_content_result_content_detail {
          flex-direction: column;
        }
        .main_content_result_content_share {
          flex-direction: column;
        }
      }
      .comments {
        h1 {
          font-size: 1.3rem;
        }
        .trending_list_content {
          flex-direction: column;
          .trending_list_content_img {
            width: 100%;
          }
          .trending_list_content_text {
            width: 100%;
          }
        }
      }
    }
    .contact-form {
      .contact_form_header {
        h1 {
          font: 1.3rem;
        }
      }
      .row {
        flex-direction: column;
      }
    }

    .main_content_recommend {
      width: 100%;
      .main_content_recommend_list {
        .trending_list {
          .trending_list_content {
            flex-direction: column;
            .trending_list_content_img {
              width: 100%;
            }
            .trending_list_content_text {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .you_also_like {
    .you_also_like_head {
      flex-direction: column;
      h1 {
        font-size: 1.3rem;
      }
    }
    .you_also_like_post_list {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      .main_content_result_content {
        .main_content_result_content_text {
          h2 {
            a {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}
