html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.border_none {
  border: none !important;
}

.border_bottom {
  border-bottom: solid #999999 1px;
}

.post_date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  gap: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #999999;
}
.post_date span {
  color: #d65745;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  gap: 10px;
  padding: 0 0 10px 0;
  margin-bottom: 50px;
}
.breadcrumbs .breadcrumbs_home {
  font-size: 1.2rem;
  font-weight: 600;
  color: #202020;
}
.breadcrumbs span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #999999;
}

.ads_box {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
  border-radius: 4px;
  margin: 20px 0;
}

.main_content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.main_content .main_content_result {
  width: 70%;
}
.main_content .main_content_result .main_content_result_content a h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #d65745;
}
.main_content .main_content_result .main_content_result_content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #999999;
  margin: 10px 0;
}
.main_content .main_content_result .main_content_result_content .main_content_result_content_detail {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.main_content .main_content_result .main_content_result_content img {
  width: 100%;
  margin: 20px 0;
}
.main_content .main_content_result .main_content_result_content p {
  font-size: 1rem;
  font-weight: 500;
  color: #999999;
}
.main_content .main_content_result .main_content_result_content .my_20 {
  margin: 20px 0;
}
.main_content .main_content_result .main_content_result_content .main_content_result_content_share {
  border-top: solid #999999 1px;
  border-bottom: solid #999999 1px;
  padding: 10px 0;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main_content .main_content_result .main_content_result_content .main_content_result_content_share .main_content_result_content_share_no p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #202020;
}
.main_content .main_content_result .main_content_result_content .main_content_result_content_share .main_content_result_content_share_no p span {
  font-size: 1.2rem;
  color: #d65745;
}
.main_content .main_content_result .main_content_result_content .main_content_result_content_share .main_content_result_content_share_btns button {
  cursor: pointer;
}
.main_content .main_content_result .main_content_result_content .main_content_result_content_share .main_content_result_content_share_btns button i {
  margin-right: 10px;
}
.main_content .main_content_result .main_content_result_content .main_content_result_content_share .main_content_result_content_share_btns .share_btn01 {
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 10px 25px;
  background-color: #3b5998;
  font-weight: 500;
}
.main_content .main_content_result .main_content_result_content .main_content_result_content_share .main_content_result_content_share_btns .share_btn02 {
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 10px 25px;
  background-color: #00acee;
  font-weight: 500;
}
.main_content .main_content_result .main_content_result_content .main_content_result_content_share .main_content_result_content_share_btns .share_btn03 {
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 10px 25px;
  background-color: #c03632;
  font-weight: 500;
}
.main_content .main_content_result .comments {
  margin: 50px 0;
}
.main_content .main_content_result .comments h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #d65745;
  margin-bottom: 20px;
}
.main_content .main_content_result .comments .trending_list_content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.main_content .main_content_result .comments .trending_list_content .trending_list_content_img {
  width: 20%;
}
.main_content .main_content_result .comments .trending_list_content .trending_list_content_img img {
  width: 100%;
  border-radius: 4px;
}
.main_content .main_content_result .comments .trending_list_content .trending_list_content_text {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}
.main_content .main_content_result .comments .trending_list_content .trending_list_content_text p {
  font-size: 1rem;
  font-weight: 500;
  color: #999999;
}
.main_content .main_content_result .comments .trending_list_content .trending_list_content_text .trending_list_content_text_head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main_content .main_content_result .comments .trending_list_content .trending_list_content_text .trending_list_content_text_head h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #202020;
}
.main_content .main_content_result .comments .trending_list_content .trending_list_content_text .trending_list_content_text_head a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #202020;
}
.main_content .main_content_result .contact-form {
  max-width: 100%;
  margin-bottom: 50px;
}
.main_content .main_content_result .contact-form .contact_form_header h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #d65745;
}
.main_content .main_content_result .contact-form .contact_form_header p {
  font-size: 1rem;
  font-weight: 600;
  color: #202020;
}
.main_content .main_content_result .contact-form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.main_content .main_content_result .contact-form .col {
  flex: 1;
  margin: 15px 0;
}
.main_content .main_content_result .contact-form input[type=text],
.main_content .main_content_result .contact-form input[type=email],
.main_content .main_content_result .contact-form input[type=url],
.main_content .main_content_result .contact-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
}
.main_content .main_content_result .contact-form input[type=text]:focus,
.main_content .main_content_result .contact-form input[type=email]:focus,
.main_content .main_content_result .contact-form input[type=url]:focus,
.main_content .main_content_result .contact-form textarea:focus {
  border: 1px solid #007bff;
}
.main_content .main_content_result .contact-form::-moz-placeholder {
  color: #888;
}
.main_content .main_content_result .contact-form::placeholder {
  color: #888;
}
.main_content .main_content_result .contact-form textarea {
  resize: vertical;
}
.main_content .main_content_result .contact-form .contact_submit button {
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 10px 25px;
  background-color: #000;
  font-weight: 500;
  cursor: pointer;
}
.main_content .main_content_recommend {
  width: 30%;
}
.main_content .main_content_recommend .main_content_recommend_list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.main_content .main_content_recommend .main_content_recommend_list .main_content_recommend_list_tab {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 10px;
  border-bottom: solid #d65745 2px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.main_content .main_content_recommend .main_content_recommend_list .main_content_recommend_list_tab h2 {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: #d65745;
  padding: 5px 15px;
}
.main_content .main_content_recommend .main_content_recommend_list .main_content_recommend_list_content {
  padding: 0 0 20px 0;
}
.main_content .main_content_recommend .main_content_recommend_list .main_content_recommend_list_content h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #202020;
  margin: 0 0 10px 0;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_head {
  width: 100%;
  border-bottom: solid #d65745 2px;
  margin-bottom: 10px;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_head h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #d65745;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_list .trending_list_content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_list .trending_list_content .trending_list_content_img {
  width: 40%;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_list .trending_list_content .trending_list_content_img img {
  width: 100%;
  border-radius: 4px;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_list .trending_list_content .trending_list_content_text {
  width: 60%;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_list .trending_list_content .trending_list_content_text h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #202020;
}

.you_also_like {
  margin-bottom: 20px;
}
.you_also_like .you_also_like_head h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #d65745;
  margin-bottom: 20px;
}
.you_also_like .you_also_like_post_list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
}
.you_also_like .you_also_like_post_list .main_content_result_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.you_also_like .you_also_like_post_list .main_content_result_content .main_content_result_content_img img {
  width: 100%;
}
.you_also_like .you_also_like_post_list .main_content_result_content .main_content_result_content_text h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #202020;
  margin-bottom: 10px;
}
.you_also_like .you_also_like_post_list .main_content_result_content .main_content_result_content_text p {
  font-size: 1rem;
  font-weight: 500;
  color: #999999;
  margin-top: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 90%;
  }
  .main_content .main_content_result {
    width: 100%;
  }
  .main_content .main_content_recommend {
    display: none;
  }
  .you_also_like .you_also_like_post_list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }
  .main_content .main_content_result {
    width: 100%;
  }
  .main_content .main_content_result .comments .trending_list_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .main_content .main_content_result .comments .trending_list_content .trending_list_content_img {
    width: 100%;
  }
  .main_content .main_content_result .comments .trending_list_content .trending_list_content_text {
    width: 100%;
  }
  .main_content .main_content_recommend {
    display: none;
  }
  .you_also_like .you_also_like_post_list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}/*# sourceMappingURL=styles.css.map */