html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.border_none {
  border: none !important;
}

.border_bottom {
  border-bottom: solid #999999 1px;
}

.post_date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  gap: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #999999;
}
.post_date i {
  color: #d65745 !important;
}
.post_date p {
  margin: 0 !important;
}
.post_date:hover {
  color: #d65745;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  gap: 10px;
  padding: 0 0 10px 0;
  margin-bottom: 50px;
}
.breadcrumbs .breadcrumbs_home {
  font-size: 1rem;
  font-weight: 600;
  color: #202020;
}
.breadcrumbs span {
  font-size: 1rem;
  font-weight: 600;
  color: #999999;
}
.breadcrumbs a {
  font-size: 1rem;
  font-weight: 600;
  color: #999999;
}

.ads_box {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
  border-radius: 4px;
  margin: 20px 0;
}

.main_content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.main_content .main_content_search_result {
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}
.main_content .main_content_result {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}
.main_content .main_content_result .main_content_search_result_content {
  flex-direction: row !important;
}
.main_content .main_content_result .main_content_result_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.main_content .main_content_result .main_content_result_content .main_content_result_content_img img {
  width: 100%;
}
.main_content .main_content_result .main_content_result_content .main_content_result_content_text h2 {
  margin-bottom: 10px;
}
.main_content .main_content_result .main_content_result_content .main_content_result_content_text h2 a {
  font-size: 1.3rem;
  color: #202020;
  font-weight: 600;
}
.main_content .main_content_result .main_content_result_content .main_content_result_content_text h2 a:hover {
  color: #d65745;
}
.main_content .main_content_recommend {
  width: 30%;
}
.main_content .main_content_recommend .main_content_recommend_list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border: none !important;
  gap: 20px;
}
.main_content .main_content_recommend .main_content_recommend_list .main_content_recommend_list_tab {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 10px;
  border-bottom: solid #d65745 2px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  margin-bottom: 10px;
  padding-bottom: 5px;
  background-color: white !important;
}
.main_content .main_content_recommend .main_content_recommend_list .main_content_recommend_list_tab li {
  border: none !important;
  border-radius: 4px;
}
.main_content .main_content_recommend .main_content_recommend_list .main_content_recommend_list_tab li a {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 4px;
}
.main_content .main_content_recommend .main_content_recommend_list .main_content_recommend_list_tab li a:hover {
  background-color: #d65745;
  color: white !important;
}
.main_content .main_content_recommend .main_content_recommend_list .main_content_recommend_list_content {
  padding: 0 0 20px 0;
}
.main_content .main_content_recommend .main_content_recommend_list .main_content_recommend_list_content p {
  margin: 0 0 10px 0;
}
.main_content .main_content_recommend .main_content_recommend_list .main_content_recommend_list_content p a {
  font-size: 1rem;
  font-weight: 600;
  color: #202020;
}
.main_content .main_content_recommend .main_content_recommend_list .main_content_recommend_list_content p a:hover {
  color: #d65745;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_head {
  width: 100%;
  border-bottom: solid #d65745 2px;
  margin-bottom: 10px;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_head h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #d65745;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_list .trending_list_content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_list .trending_list_content .trending_list_content_img {
  width: 40%;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_list .trending_list_content .trending_list_content_img img {
  width: 100%;
  border-radius: 4px;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_list .trending_list_content .trending_list_content_text {
  width: 60%;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_list .trending_list_content .trending_list_content_text p a {
  font-size: 1rem;
  font-weight: 600;
  color: #202020;
}
.main_content .main_content_recommend .main_content_recommend_list .trending_list .trending_list_content .trending_list_content_text p a:hover {
  color: #d65745;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 90%;
  }
  .main_content .main_content_result {
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .main_content .main_content_recommend {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }
  .main_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .main_content .main_content_result {
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .main_content .main_content_result .main_content_search_result_content {
    flex-direction: column !important;
  }
  .main_content .main_content_recommend {
    width: 100%;
  }
  .main_content .main_content_recommend .main_content_recommend_list .trending_list .trending_list_content {
    flex-direction: column;
  }
  .main_content .main_content_recommend .main_content_recommend_list .trending_list .trending_list_content .trending_list_content_img {
    width: 100%;
  }
  .main_content .main_content_recommend .main_content_recommend_list .trending_list .trending_list_content .trending_list_content_text {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */