@import "./mixin";
@import "./var";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.border_none {
  border: none !important;
}

.border_bottom {
  border-bottom: solid #999999 1px;
}

.post_date {
  @include display_flex(row, center, none);
  gap: 10px;
  @include SecondaryParagraph;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.breadcrumbs {
  @include display_flex(row, center, none);
  gap: 10px;
  padding: 0 0 10px 0;
  margin-bottom: 50px;

  .breadcrumbs_home {
    @include SecondaryHeader;
  }
  span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #999999;
  }
}

.ads_box {
  width: 100%;
  height: 200px;
  @include display_flex(row, center, center);
  background-color: #dddddd;
  border-radius: 4px;
  margin: 20px 0;
}

.main_content {
  @include display_flex(row, start, space-between);
  gap: 20px;

  //   FOR ONLY SEARCH PAGE STYLE
  .main_content_search_result {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .main_content_result {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;

    //   FOR ONLY SEARCH PAGE STYLE
    .main_content_search_result_content {
      flex-direction: row !important;
    }
    .main_content_result_content {
      @include display_flex(column, start, space-between);
      gap: 20px;
      .main_content_result_content_img {
        img {
          width: 100%;
        }
      }
      .main_content_result_content_text {
        h2 {
          @include SecondaryHeader;
          margin-bottom: 10px;
        }
        p {
          @include SecondaryParagraph;
          margin-top: 10px;
        }
      }
    }
  }
  .main_content_recommend {
    width: 30%;

    .main_content_recommend_list {
      @include display_flex(column, start, space-between);
      gap: 20px;
      .main_content_recommend_list_tab {
        width: 100%;
        @include display_flex(row, start, start);
        gap: 10px;
        border-bottom: solid $primary_color 2px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        h2 {
          display: inline-block;
          font-size: 1rem;
          font-weight: 700;
          color: white;
          background-color: $primary_color;
          padding: 5px 15px;
          //   border-radius: 4px;
        }
      }

      .main_content_recommend_list_content {
        padding: 0 0 20px 0;
        h2 {
          @include SecondaryHeader;
          margin: 0 0 10px 0;
        }
      }
      .trending_head {
        width: 100%;
        border-bottom: solid $primary_color 2px;
        margin-bottom: 10px;
        h2 {
          font-size: 1.4rem;
          font-weight: 700;
          color: $primary_color;
        }
      }
      .trending_list {
        @include display_flex(column, start, space-between);
        gap: 20px;
        .trending_list_content {
          @include display_flex(row, start, space-between);
          gap: 20px;
          .trending_list_content_img {
            width: 40%;

            img {
              width: 100%;
              border-radius: 4px;
            }
          }

          .trending_list_content_text {
            width: 60%;

            h2 {
              @include SecondaryHeader;
            }
          }
        }
      }
    }
  }
}

// MEDIA QUERIES FOR RESPONSIVENESS
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 90%;
  }

  .main_content {
    .main_content_result {
      width: 100%;
    }
    .main_content_recommend {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }

  .main_content {
    .main_content_result {
      width: 100%;
    }
    .main_content_recommend {
      display: none;
    }
  }
}
